<?xml version="1.0"?>
<config>
    <modules>
        <Wonder_DesabilitaFrete>
            <version>0.0.1</version>
        </Wonder_DesabilitaFrete>
    </modules>
    <global>
        <blocks>
            <checkout>
                <rewrite>
                    <onepage>Wonder_DesabilitaFrete_Block_Onepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <wonder_desabilitafrete>
                <class>Wonder_DesabilitaFrete_Helper</class>
            </wonder_desabilitafrete>
        </helpers>
        <models>
            <wonder_desabilitafrete>
                <class>Wonder_DesabilitaFrete_Model</class>
            </wonder_desabilitafrete>
        </models>
    </global>
    <default>
        <checkout>
            <options>
                <hide_shipping>1</hide_shipping>
                <default_shipping>flatrate</default_shipping>
            </options>
        </checkout>
    </default>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Wonder_DesabilitaFrete before="Mage_Checkout">Wonder_DesabilitaFrete</Wonder_DesabilitaFrete>
                    </modules>
                </args>
            </checkout>
        </routers>
        <translate>
            <modules>
                <Wonder_DesabilitaFrete>
                    <files>
                        <default>Wonder_DesabilitaFrete.csv</default>
                    </files>
                </Wonder_DesabilitaFrete>
            </modules>
        </translate>
    </frontend>
</config>
